.marimba {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 600px);
  grid-gap: 10px;
  padding: 20px;
  list-style: none;
}

.teclas {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .marimba {
    grid-template-columns: 1fr;
  }
}

.primera-fila {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 20px;
}
.segunda-fila {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 20px;
}
.tercera-fila {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 20px;
}

.bateria {
   width: 150px;
   height: 150px;
   border: 2px solid #333;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
   margin: 5px;
   user-select: none;
}

#crash { background-color: rgb(255, 215, 106);}
#splash-china { background-color: rgb(255, 215, 106); }
#ride-hihat { background-color: rgb(255, 215, 106); }
#china { background-color: rgb(255, 215, 106); }
